$primary-color: rgb(136, 146, 0);
$secondary-color: rgb(65, 77, 0);
$yellowWhite-color: rgb(85, 88, 38);
$text-color: #cba551;
$text-light-olor: #ffcf66;
$textShadow-color: #66532b;
$background-color: #212121;