@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');
@import "./styles/variables.scss";

* {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    color: #fff;
    font-family: 'Lato', 'Poppins';
}

body {
    background-color: #212121;    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:
    12px;
    border-radius: 12px;
    background-color: $text-color;
}